State-Param / RFC6749

In order to prevent csrf attacks

https://tools.ietf.org/html/rfc6749#section-4.1.1
https://tools.ietf.org/html/rfc6749#section-10.12

TODO:
- Send 'state'-parameter (maybe random string?) with client authorization request. If the information was present the server will thereafter return the value again within it's response.
- Compare the received state param with the original one.


'state'-parameter consists of a 128 char random string [A-Z] / [a-z] / [0-9] / "-" / "." / "_" / "~" (described in Section 2.3 of [RFC3986]). This param is newly generated each time that the client attempts to authenticate itself to the server.